@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center" style="width: 80%; height: 1000px; background-color: bisque; margin: 0 auto;">-->
@*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<!--</div>-->

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "All Guitars Page";
}


@using MusicShop_Exam.Models.Guitar

@model GuitarIndexViewModel

<h1>Guitars: </h1>
<a asp-action="Create">Create</a>
@if (Model.Guitars.Count > 0)
{
    <div class="people-list" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        @*@foreach (var person in people)
            {
                <li>#@person.Id @person.LastName @person.FirstName @person.Birth</li>
            }*@
        @foreach (var guitar in Model.Guitars)
        {
            <div class="category-info">
                @*#@person.Id @person.LastName @person.FirstName @person.Birth -*@
                @await Html.PartialAsync("_Guitar0", guitar)
                <div class="category-actions">
                    <a asp-action="Delete" asp-route-id="@guitar.Id">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@guitar.Id">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@guitar.Id">Detail</a>
                </div>
            </div>
        }
    </div>

}
else
{
    <h4>Guitars list is empty</h4>
}